@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css?family=Roboto:regular,700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  font-family: 'Roboto', 'Times', serif;
  font-weight: 400;
  font-size: 18px;
  color: #000;
  background-color: #F5F5F5;
}

a {
  color: #fff;
  font-size: 16px;
}

.button {
  font-weight: 700;
  font-size: 16px;
  background-color: #FF7143;
  color: #000000;
  padding: 12px 32px;
  border-radius: 6px;
}

.wrapper {
  line-height: 22px;
  background-color: red;
  min-height: 100%;
  overflow: hidden;
}

.content {
  flex: 1 1 auto;
  margin-top: 90px;
}

.container {
  padding: 0 25px;
  max-width: 1280px;
  margin: 0 auto;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #000;
  overflow: hidden;
}

.header__body {
  display: flex;
  max-height: 81px;
  align-items: center;
  flex-grow: 1;
}

.header__action {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.header__logo {
  padding: 25px 30px 25px 0;
  position: relative;
  z-index: 5;
}

.header__logo::before {
  content: '';
  position: absolute;
  background: rgba(255, 255, 255, 0.16);
  width: 1px;
  height: 100%;
  top: 0;
  right: 0;
}

.header__logo img {
  max-width: 100%;
}

.header__email {
  position: relative;
  background-color: rgba(255, 255, 255, 0.12);
  border-radius: 4px;
  margin-left: 32px;
  margin-right: 15px;
  color: #F5F5F5;
  padding: 4px 8px;
  z-index: 4;
}

.header__menu {
  flex: 1 1 auto;
}

.header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: 3;
}

.menu__list {
  display: flex;
  flex-direction: row;
  justify-content: right;
}

.menu__item {
  position: relative;
  padding: 30px 0;
  z-index: 4;
}

.menu__item + .menu__item {
  margin-left: 22.5px;
}

.menu__line {
  margin-right: 20px;
}

.menu__item:last-child {
  padding-left: 40px;
}

.menu__item:last-child::after {
  content: '';
  position: absolute;
  background: rgba(255, 255, 255, 0.16);
  width: 1px;
  height: 100%;
  top: 0;
  left: 0;
}

.menu__link {
  position: relative;
  padding-right: 12.5px;
}

.menu__link::before {
  content: '';
  position: absolute;
  background-image: url("../img/vertor.svg");
  height: 8.5px;
  width: 7.4px;
  top: 27.5%;
  right: 0;
}

.action__button {
  position: relative;
  z-index: 4;
  margin-left: 40px;
  margin-right: 10px;
}

@media (max-width: 1080px) {
  .header__logo {
    padding: 25px 30px 25px 0;
  }
  .header__logo img {
    max-width: 90%;
  }
  .header__email {
    font-size: 14px;
    margin-left: 30px;
  }
  .menu__item + .menu__item {
    margin-left: 20px;
  }
  .menu__line {
    margin-right: 15px;
  }
  .menu__item:last-child {
    padding-left: 30px;
  }
  .menu__link {
    font-size: 14px;
  }
  .action__button {
    margin-left: 20px;
  }
  .button {
    font-size: 14px;
  }
}

@media (max-width: 969px) {
  .container {
    padding: 0 15px;
  }
  .header__body {
    max-height: 69px;
  }
  .header__logo {
    padding: 27.5px 0px 25px 0;
    max-width: 100px;
  }
  .header__email {
    font-size: 13px;
    padding: 2.5px 5px;
    margin-left: 15px;
  }
  .menu__item + .menu__item {
    margin-left: 12.5px;
  }
  .menu__line {
    margin-right: 10px;
  }
  .menu__item:last-child {
    padding-left: 20px;
  }
  .menu__link {
    font-size: 13px;
  }
  .action__button {
    margin-left: 12.5px;
  }
  .button {
    padding: 8px 16px;
    font-size: 13px;
  }
}

@media (max-width: 790px) {
  .container {
    padding: 0 12.5px;
  }
  .header__body {
    max-height: 54px;
  }
  .header__burger {
    position: relative;
    height: 20px;
    width: 20px;
    z-index: 3;
  }
  .header__burger span {
    position: absolute;
    display: block;
    top: 9px;
    width: 100%;
    height: 2px;
    background-color: #F5F5F5;
    transition: all .4s;
  }
  .header__burger::before {
    position: absolute;
    content: '';
    display: block;
    bottom: 0px;
    width: 100%;
    height: 2px;
    background-color: #F5F5F5;
    transition: all .4s;
  }
  .header__burger::after {
    position: absolute;
    content: '';
    display: block;
    top: 0px;
    width: 100%;
    height: 2px;
    background-color: #F5F5F5;
    transition: all 0.4s ease-out;
  }
  .header__burger.active::before {
    transform: rotate(45deg);
    top: 9px;
  }
  .header__burger.active::after {
    transform: rotate(-45deg);
    top: 9px;
  }
  .header__burger.active span {
    transform: scale(0);
  }
  .header__menu.active {
    top: 0px;
  }
  .header__menu {
    position: fixed;
    top: -200%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FF7143;
    padding-top: 70px;
    transition: all 0.75s ease-out;
  }
  .header__action {
    position: absolute;
    margin-right: 25px;
    right: 0;
  }
  .menu__list {
    display: block;
    text-align: center;
  }
  .menu__item + .menu__item {
    margin-left: 0px;
  }
  .menu__item {
    padding: 10px 0;
  }
  .menu__line {
    margin-right: 0px;
  }
  .menu__item:last-child {
    padding-left: 0px;
  }
  .menu__item:last-child::after {
    display: none;
  }
}

@media (max-width: 590px) {
  .container {
    padding: 0 10px;
  }
  .header__body {
    max-height: 49px;
  }
  .header__logo {
    padding-right: 0px;
    max-width: 85px;
  }
  .header__logo img {
    max-width: 85%;
  }
  .header__email {
    margin-left: 10px;
    font-size: 11px;
    padding: 1px 4px;
  }
  .header__body {
    max-height: 50px;
    align-items: center;
  }
  .header__action {
    position: absolute;
    margin-right: 10px;
  }
  .header .button {
    padding: 6px 7px;
    font-size: 11px;
  }
}

@media (max-width: 374px) {
  .header__logo {
    padding-right: 0px;
    max-width: 75px;
  }
  .header__logo img {
    max-width: 85%;
  }
  .header__email {
    margin-left: 8px;
    line-height: 18px;
    font-size: 9px;
    padding: 1px 3px;
  }
  .header__body {
    max-height: 50px;
    align-items: center;
  }
  .header .button {
    padding: 4px 5px;
    font-size: 9px;
  }
}
