//---Подключение других библиотек---//
@import "nullstyle.scss";
//-------------------------------------
//---Подключение шрифтов---//
//--- &display=swap - нужно
@import url('https://fonts.googleapis.com/css?family=Roboto:regular,700&display=swap');
//-------------------------------------
//---Глобалыние стили---//

body {
	font-family: 'Roboto', 'Times', serif;
	font-weight: 400;
	font-size: 18px;
	color: #000;
	background-color: #F5F5F5;
}

a {
	color: #fff;
	font-size: 16px;
}
.button {
	font-weight: 700;
	font-size: 16px;
	background-color: #FF7143;
	color: #000000;
	padding: 12px 32px;
	border-radius: 6px;
	transition: all 0.3s ease-out;
}
.black {
	background-color: #000;
	color: #fff;
	transition: all .3 ease-out;
}
.black:hover {
	opacity: 0.8;
	background-color: rgb(7, 7, 7);

}
.white {
	background-color: #fff;
	color: #000;
	transition: all .3 ease-out;
}
.white:hover {
	opacity: 0.8;
	background-color: rgb(229, 229, 229);
}
.wrapper {
	line-height: 22px;
	min-height: 100%;
	overflow: hidden;
}
  
.content {
	margin-top: 81px;
}

.container {
	padding: 0 5px;
	max-width: 1280px;
	margin: 0 auto;
}

.lock {
	overflow: hidden;
}
//----header---
.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #000;
	overflow: hidden;
	z-index: 5;

	&__body {
		display: flex;
		max-height: 81px;
		align-items: center;
		flex-grow: 1;
	}

	&__action {
		display: flex;
		align-items: center;
		flex-direction: row;
	}

	&__logo {
		padding: 25px 30px 25px 0;
		position: relative;
		z-index: 5;
	}
	
	&__logo::before {
		content: '';
		position: absolute;
		background: rgba(255, 255, 255, 0.16);
		width: 1px;
		height: 100%;
		top: 0;
		right: 0;
	}
	&__logo img {
		max-width: 100%;
	}

	&__email {
		position: relative;
		background-color: rgba(255, 255, 255, 0.12);
		border-radius: 4px;
		margin-left: 32px;
		margin-right: 15px;
		color: #F5F5F5;
		padding: 4px 8px;
		z-index: 4;
		transition: ease .4s all;
	}
	&__email:hover {
		opacity: 0.75;
	}
	&__menu {
		flex: 1 1 auto;
	}
}
.header::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	z-index: 3;
  }

.menu {

	&__list {
		display: flex;
		flex-direction: row;
		justify-content: right;
	}

	&__item {
		position: relative;
		padding: 30px 0;
		z-index: 4;
	}
	
	&__item + &__item {
		margin-left: 22.5px;
	}
	&__line {
		margin-right: 20px;
	}
	&__item:last-child {
		padding-left: 40px;
	}
	&__item:last-child::after {
		content: '';
		position: absolute;
		background: rgba(255, 255, 255, 0.16);
		width: 1px;
		height: 100%;
		top: 0;
		left: 0;
	}
	&__link {
		position: relative;
		padding-right: 12.5px;
		transition: ease .3s all;
	}
	&__link:hover {
		opacity: .75;
	}

	&__link::before {
		content: '';
		position: absolute;
		background-image: url('../img/vertor.svg');
		height: 8.5px;
		width: 7.4px;
		top: 27.5%;
		right: 0;
		transition: all 0.4s ease-in;
	}
}
.action {
	&__button {
		position: relative;
		z-index: 4;
		margin-left: 40px;
		margin-right: 10px;
	}
	&__button:hover {
		background-color: #ff4d12;
		color: #F5F5F5;
	}
}
//-----template-----
.template {
	background-color: #FF7143;
	&__body {
		display: flex;
		flex-direction: row;
		min-height: 100%;
		justify-content: space-between;
	}

	&__menu {
		display: flex;
		flex-direction: column;
		text-align: center;
		justify-content: space-between;
		margin: 0 20px;
	
	}

	&__action {
		flex: 0 1 auto;
		margin: 0 auto;
	}

	&__title {
		font-weight: 700;
		font-size: 72px;
		line-height: 72px;
		margin-top: 91px;
	}

	&__text {
		font-weight: 400;
		font-size: 18px;
		max-width: 587px;
		line-height: 27px;
		margin-top: 27px;
	}
	&__button {
		font-size: 18px;
		margin: 27px 4px;
		padding: 20px 32px;
	}

	&__rating {
		flex: 0 1 auto;
		margin: 0 auto;
	}

	&__img {
		margin-top: -130px;
		margin-right: 10px;
	}
}
.text {
	font-size: 20px;
	line-height: 30px;
}
.rating {
	margin: 0 auto;
	&__star {
		img {
			width: 20px;
			height: 20px;
		}
	}

	&__text {
		font-weight: 700;
		margin-top: 20px;
		display: inline-block;
		max-width: 368px;
	}
	&__rated {
		display: flex;
		flex-direction: row;
		justify-content: center;
	}

	&__subtitle {
		margin-top: 14px;
		margin-bottom: 100px;
		line-height: 24px;
	}
}
.gray {
	font-weight: 400;
	font-size: 15px;
	color: rgba(0, 0, 0, 0.6);
}
///-----advantage------
.advantage {
	margin-top: 65px;
	&__list {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	&__item {
		margin: 15px auto;
		display: flex;
		flex-direction: row;
	}
	&__image {
		position: relative;
		z-index: -1;
		width: 100px;
		height: 100px;
		background: #FDE7DA;
	}
	&__image img {
		position: absolute;
		width: 48px;
		height: 48px;
		margin: auto;
		top: 0; left: 0; bottom: 0; right: 0;
	}

	&__info {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		margin-left: 20px;
	}

	&__title {
		font-weight: 700;
		font-size: 24px;
		line-height: 32px;
	}

	&__text {
		font-weight: 400;
		font-size: 16px;
		line-height: 24px;
		max-width: 256px;
	}
}

//-----Slide-----

.slider {
	position: relative;
	margin-top: 80px;
	z-index: 1;
	&__body {
		background-color: #000;
		color: #fff;
	}
	&__item {
		min-width: 0;
		display: flex;
		justify-content: space-between;
		flex-direction: row;
		text-align: center;
		align-items: center;
	}

	&__info {
		margin: 0 auto;
		max-width: 576px;
		padding: 20px;
	}

	&__image {
		margin: 0 auto;
		width: 100px;
		height: 20px;
		margin-bottom: 40px;
	}

	&__text {
		margin: 0 auto;
		font-weight: 400;
		font-size: 40px;
		line-height: 48px;
		margin-bottom: 41px;
	}

	&__subtitle {
		font-weight: 700;
		font-size: 18px;
		line-height: 27px;
		span {
			opacity: .7;
			font-weight: 400;
			font-size: 16px;
			line-height: 24px;
		}
	}
	.slick-dots {
		display: flex;
		flex-wrap: wrap;
		margin-top: 20px;
		justify-content: center;
		button {
			transition: all 0.2s ease-out;
			font-size: 0px;
			width: 16px;
			height: 16px;
			background: rgba(255, 255, 255, 0.4);
		}
		li {
			margin: 0 5px;
		}
		li.slick-active button{
			width: 16px;
			height: 16px;
			background-color: #Fff;
		}
	}
}

//---- Pages ----
.pages {
	margin-top: 99px;
	&__body {
		color:#000;
	}
	&__title {
		font-weight: 700;
		font-size: 40px;
		line-height: 48px;
		margin-bottom: 10px;
	}

	&__list {
		display: grid;
		text-align: center;
		justify-content: center;
		grid-template-columns: 1fr 1fr 1fr;
		gap: 17.5px;
	}

	&__item {
		background: #FFFFFF;
		border: 1px solid rgba(0, 0, 0, 0.16);
		box-shadow: 0px 8px 8px rgba(16, 19, 80, 0.12);
		border-radius: 6px;
	}
	&__bg {
		margin: auto;
		background-color: #000;
		padding: 40px 40px 0 40px;
	}

	&__image {
		max-width: 100%;
		max-height: 100%;
	}

	&__subtitle {
		padding: 25px 33px 25px;
		font-weight: 700;
		font-size: 20px;
		line-height: 28px;
		color: #000;
	}

	&__other {
		.pages__title {
			margin-top: 62px;
		}
	}
}

//--- Forms ---
.forms {
	margin: 100px 0 60px 0;
	&__body {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		background-color: #FF7143;
	}

	&__menu {
		display: flex;
		flex-direction: column;
		text-align: center;
		justify-content: space-between;
		margin: 0 20px;
	}

	&__action {
		flex: 0 1 auto;
		margin: 0 auto;
	}

	&__title {
		margin: 0 auto;
		font-weight: 700;
		font-size: 56px;
		line-height: 56px;
		margin-top: 91px;
		max-width: 400px;
	}

	&__text {
		font-weight: 400;
		font-size: 18px;
		line-height: 27px;
		max-width: 479px;
		margin-top: 27px;
	}

	&__button {
		font-size: 18px;
		margin: 27px 4px;
		padding: 20px 32px;
	}

	&__rating {
		flex: 0 1 auto;
		margin: 0 auto;
	}
	&__form {
		display: flex;
		align-items: center;
	}
}
.form {

	&__body {
		position: relative;
		display: flex;
		flex-direction: column;
		padding: 40px;
		background: #fff;
		box-shadow: 0px 24px 24px rgba(0, 0, 0, 0.12);
		width: 440px;
	}

	&__title {
		font-weight: 700;
		font-size: 32px;
		line-height: 40px;
		margin-bottom: 40px;
	}

	&__text {
		font-size: 16px;
		line-height: 24px;
		margin-bottom: 5px;
	}

	&__input {
		font-size: 16px;
		background: rgba(0, 0, 0, 0.05);
		border-radius: 6px;
		padding: 19px 0;
		margin-bottom: 16px;
		padding-left: 36px;
	}

	&__input::placeholder {
		font-size: 16px;
		line-height: 24px;
		transition: 0.2s;
	}
	&__input:hover::placeholder {
		font-size: 0;
	}

	&__policy {
		display: flex;
		margin-top: 20px;
		margin-bottom: 32px;
	}

	&__checkbox {
		cursor: pointer;
		accent-color: black;
		width: 24px;
		height: 24px;
		border-radius: 6px;
		margin-right: 12px;
		background: rgba(0, 0, 0, 0.05);
		box-shadow: 0px 1px 3px rgba(14, 38, 86, 0.12);
		border-radius: 6px;
	}
	&__button {
		padding: 18px 0;
		font-size: 16px;
		line-height: 24px;
		margin-bottom: 16px;
	}

	&__text-center {
		text-align: center;
	}

	&__link {
		color: #FF7143;
	}
}
// ----- Footer ----

.footer {
	background-color: #000;
	color: #fff;
	font-size: 16px;
	line-height: 24px;
	padding: 25px 0;
	&__top {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 50px;
	}

	&__center {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 80px;
		margin-bottom: 40px;
	}

	&__bottom {
		display: flex;
		position: relative;
		justify-content: space-between;
		align-items: center;
		padding-top: 30px;
	}

	&__bottom::before {
		content: '';
		position: absolute;
		display: block;
		width: 100%;
		height: 1px;
		background: rgba(255, 255, 255, 0.16);
		top: 0px;
	}
}

.top {

	&__button {
		padding: 12px 32px;
	}
}
.center {

	&__list {
		display: inline-block;
		margin-right: 10px;
	}

	&__item {
		display: inline-block;
		margin: 5px 0px;
		margin-right: 10px;
	}
	&__social {
		display: flex;
		flex-direction: row;
	}
}
.social {

	&__item {
		position: relative;
		width: 48px;
		height: 48px;
		background: rgba(255, 255, 255, 0.1);
		border: 1px solid rgba(0, 0, 0, 0.16);
	}

	&__item + &__item {
		margin-left: 8px;
	}

	&__link {
		position: absolute;
		height: 100%;
		width: 100%;
		img {
			position: absolute;
			margin: auto;
			top: 0; bottom: 0;
			left: 0; right: 0;
		}
	}
}
.powered {
	&__text {
		margin-right: 12px;
	}

	&__img {
		margin-right: 12px;
	}

	&__link {
		color: #FF7143;
		margin-left: 2px;
		font-size: 16px;
	}
}
/// ----- adaptive ----

@media (max-width: 1280px) {
	.container {
		padding: 0 10px;
	}
	.pages {
		margin-top: 95px;	
		&__title {
			font-size: 38px;
			line-height: 46px;
		}
		&__bg {
			padding: 35px 35px 0 35px;
		}
	
		&__image {
			width: 305px;
			height: 305px;
		}
	
		&__subtitle {
			padding: 25px 25px 25px;
			font-size: 18px;
			line-height: 26px;
		}
	
		&__other {
			.pages__title {
				margin-top: 60px;
			}
		}
	}
}
@media (max-width: 1200px) {
	.pages {
		margin-top: 95px;
		&__title {
			font-size: 37px;
			line-height: 45px;
		}
		&__bg {
			padding: 27.5px 27.5px 0 27.5px;
		}
	
		&__image {
			width: 275px;
			height: 275px;
		}
	
		&__subtitle {
			padding: 25px 25px 25px;
			font-size: 18px;
			line-height: 26px;
		}
	
		&__other {
			.pages__title {
				margin-top: 60px;
			}
		}
	}
}
@media (max-width: 1180px) {
	.advantage {
		margin-top: 65px;
		&__image {
			width: 90px;
			height: 90px;
		}
		&__image img {
			width: 48px;
			height: 48px;
		}
		&__title {
			font-size: 20px;
			line-height: 28px;
		}
	
		&__text {
			font-size: 15px;
			line-height: 20px;
			max-width: 226px;
		}
	}
}
@media (max-width: 1080px) {
	.container {
		padding: 0 6.75px;
	}
	.header {
		&__logo {
			padding: 25px 30px 25px 0;
		}
		&__logo img {
			max-width: 90%;
		}
		&__email {
			font-size: 14px;
			margin-left: 30px;
		}
	}	
	.menu { 
		&__item + &__item {
			margin-left: 20px;
		}
		&__line {
			margin-right: 15px;
		}
		&__item:last-child {
			padding-left: 30px;
		}
		&__link {
			font-size: 14px;
		}
	}
	.action {
		&__button {
			margin-left: 20px;
		}
	}
	.button {
		font-size: 14px;
	}
	.template {
		&__title {
			font-size: 60px;
			line-height: 60px;
			margin-top: 81px;
		}
		&__text {
			font-weight: 400;
			max-width: 484px;
			margin-top: 27px;
		}
		&__button {
			font-size: 16px;
			margin: 18px 4px;
			padding: 15px 27px;
		}
	}
	.text {
		font-size: 16px;
	}
	.rating {
		&__text {
			margin-top: 20px;
			display: inline-block;
			max-width: 368px;
		}
		&__subtitle {
			font-size: 15px;
			margin-top: 14px;
			margin-bottom: 100px;
			line-height: 24px;
		}
	}
	.gray {
		font-size: 14px;
	}
	.advantage {
		margin-top: 60px;
		&__item {
			margin: 12.5px auto;
		}
		&__image {
			width: 85px;
			height: 85px;
		}
		&__image img {
			width: 45px;
			height: 45px;
		}
		&__info {
			margin-left: 15px;
		}
		&__title {
			font-size: 18px;
			line-height: 24px;
		}
	
		&__text {
			font-size: 14px;
			line-height: 18px;
			max-width: 200px;
		}
	}
	.slider {
		margin-top: 70px;		
		&__info {
			max-width: 460px;
		}
		&__image {
			margin: 0 auto;
			width: 100px;
			height: 20px;
			margin-bottom: 27.5px;
		}		
		&__text {
			font-size: 29px;
			line-height: 36px;
			margin-bottom: 27px;
		}
		&__subtitle {
			font-size: 15px;
			line-height: 20px;
			span {
				font-size: 14px;
				line-height: 20px;
			}
		}
		.slider__bg {
			width: 350px;
			height: 495px;
		}
	}
	.slick-dots {
		margin-top: 17.5px;
	}
	.pages {
		margin-top: 75px;
		&__title {
			font-size: 32px;
			line-height: 40px;
			margin-bottom: 36px;
		}
	
		&__item {
			background: #FFFFFF;
		}
		&__bg {
			background-color: #000;
			padding: 25px 25px 0 25px;
		}
	
		&__image {
			width: 260px;
			height: 260px;
		}
	
		&__subtitle {
			padding: 17.5px 17.5px 17.5px;
			font-size: 16px;
			line-height: 20px;
			color: #000;
		}
	
		&__other {
			.pages__title {
				margin-top: 50px;
			}
		}
	}
	.forms {
		&__title {
			font-size: 50px;
			line-height: 50px;
			margin-top: 81px;
		}
		&__text {
			font-weight: 400;
			margin-top: 27px;
		}
		&__button {
			font-size: 16px;
			margin: 18px 4px;
			padding: 15px 27px;
		}
	}
	.form {
		&__body {
			padding: 35px;
			box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.12);
			width: 420px;
		}
	
		&__title {
			font-size: 28px;
			line-height: 34px;
			margin-bottom: 27.5px;
		}
	
		&__text {
			font-size: 14px;
			line-height: 20px;
			margin-bottom: 5px;
		}
	
		&__input {
			font-size: 14px;
			padding: 16px 0;
			margin-bottom: 15px;
			padding-left: 30px;
		}
	
		&__input::placeholder {
			font-size: 14px;
			line-height: 20px;
		}	
		&__policy {
			margin-top: 18px;
			margin-bottom: 27.5px;
		}
	
		&__checkbox {
			width: 22px;
			height: 22px;
			margin-right: 12px;
		}
		&__button {
			padding: 15px 0;
			font-size: 14px;
			line-height: 20px;
			margin-bottom: 15px;
		}
	}
}
@media (max-width: 969px) {
	.container {
		padding: 0 15px;
	}
	.content {
		margin-top: 69px;
	}
	.header {
		&__body {
			max-height: 69px;
		}
		&__logo {
			padding: 27.5px 0px 25px 0;
			max-width: 100px;
		}
		&__email {
			font-size: 13px;
			padding: 2.5px 5px;
			margin-left: 15px;
		}
	}	
	.menu { 
		&__item + &__item {
			margin-left: 12.5px;
		}
		&__line {
			margin-right: 10px;
		}
		&__item:last-child {
			padding-left: 20px;
		}
		&__link {
			font-size: 13px;
		}
	}
	.action {
		&__button {
			margin-left: 12.5px;
		}
	}
	.button {
		padding: 8px 16px;
		font-size: 13px;
	}
	.template {
		&__title {
			font-size: 46px;
			line-height: 46px;
			margin-top: 61px;
		}
		&__text {
			font-weight: 400;
			margin-top: 20px;
		}
		&__button {
			font-size: 14px;
			margin: 12px 4px;
			padding: 10px 20px;
		}
	}
	.text {
		font-size: 14px;
		line-height: 20px;
	}
	.rating {
		&__text {
			margin-top: 14px;
			max-width: 368px;
		}
		&__subtitle {
			font-size: 14px;
			margin-top: 14px;
			margin-bottom: 80px;
			line-height: 20px;
		}
	}
	.gray {
		font-size: 13px;
	}
	.advantage {
		margin-top: 50px;
		&__item {
			margin: 12.5px auto;
		}
		&__image {
			width: 75px;
			height: 75px;
		}
		&__image img {
			width: 40px;
			height: 40px;
		}
		&__info {
			margin-left: 12.5px;
		}
		&__title {
			font-size: 16px;
			line-height: 20px;
		}
	
		&__text {
			font-size: 13px;
			line-height: 16px;
			max-width: 200px;
		}
	}
	.slider {
		margin-top: 60px;		
		&__info {
			max-width: 425px;
		}
		&__image {
			margin: 0 auto;
			width: 80px;
			height: 15px;
			margin-bottom: 20px;
		}		
		&__text {
			font-size: 26px;
			line-height: 30px;
			margin-bottom: 20px;
		}
		&__subtitle {
			font-size: 15px;
			line-height: 20px;
			span {
				font-size: 14px;
				line-height: 20px;
			}
		}
		.slider__bg {
			width: 300px;
			height: 425px;
		}
		.slick-dots {
			margin-top: 10px;
		}
	}
	.forms {
		&__title {
			font-size: 44px;
			line-height: 44px;
			margin-top: 61px;
		}
		&__text {
			font-weight: 400;
			margin-top: 20px;
		}
		&__button {
			font-size: 14px;
			margin: 12px 4px;
			padding: 10px 20px;
		}
		&__form {
			margin-right: 20px;
		}
	}
	.form {
		&__body {
			padding: 25px;
			box-shadow: 0px 16px 16px rgba(0, 0, 0, 0.12);
			width: 350px;
		}
	
		&__title {
			font-size: 24px;
			line-height: 28px;
			margin-bottom: 22.5px;
		}
	
		&__text {
			font-size: 13px;
			line-height: 18px;
			margin-bottom: 4px;
		}
	
		&__input {
			font-size: 13px;
			padding: 14px 0;
			margin-bottom: 10px;
			padding-left: 20px;
		}
	
		&__input::placeholder {
			font-size: 13px;
			line-height: 16px;
		}	
		&__policy {
			margin-top: 10px;
			margin-bottom: 17.5px;
		}
	
		&__checkbox {
			display: flex;
			align-items: center;
			width: 20px;
			height: 20px;
			margin-right: 10px;
		}
		&__button {
			padding: 12.5px 0;
			font-size: 13px;
			line-height: 16px;
			margin-bottom: 12px;
		}
	}
	.pages {
		margin-top: 65px;
		&__title {
			font-size: 30px;
			line-height: 36px;
		}
		&__bg {
			padding: 20px 20px 0 20px;
		}
	
		&__image {
			width: 210px;
			height: 210px;
		}
	
		&__subtitle {
			padding: 15px 15px 15px;
			font-size: 14px;
			line-height: 18px;
		}
	
		&__other {
			.pages__title {
				margin-top: 40px;
			}
		}
	}
}
@media (max-width: 830px) {
	.template {
		&__body {
			justify-content: center;
		}
		&__title {
			font-size: 60px;
			line-height: 60px;
			margin-top: 49px;
		}
		&__text {
			font-weight: 400;
			margin-top: 20px;
		}
		&__img {
			display: none;
		}
		&__button {
			font-size: 16px;
			margin: 18px 4px;
			padding: 15px 27px;
		}
		&__rating {
			margin-top: 59px;
		}
	}
	.text {
		font-size: 16px;
		line-height: 24px;
	}
	.rating {
		&__text {
			margin-top: 20px;
		}
		&__subtitle {
			font-size: 15px;
			margin-top: 14px;
			margin-bottom: 50px;
			line-height: 24px;
		}
	}
	.gray {
		font-size: 14px;
	}
	.container {
		padding: 0 15px;
	}
	.pages {
		margin-top: 60px;
		&__title {
			font-size: 24px;
			line-height: 28px;
			margin-bottom: 7.5px;
		}
		&__bg {
			padding: 12.5px 12.5px 0 12.5px;
		}
	
		&__image {
			width: 150px;
			height: 150px;
		}
	
		&__subtitle {
			padding: 12px 12px 12px;
			font-size: 12px;
			line-height: 16px;
		}
	
		&__other {
			.pages__title {
				margin-top: 35px;
			}
		}
	}
	.forms {
		&__body {
			justify-content: center;
		}
		&__menu {
			display: none;
		}
		&__form {
			margin: 30px;
		}
	}
	.form {
		&__body {
			padding: 30px;
			box-shadow: 0px 16px 16px rgba(0, 0, 0, 0.12);
			width: 350px;
		}
	}
}
@media (max-width: 790px) {
	.container {
		padding: 0 10px;
	}
	.content {
		margin-top: 54px;
	}
	.header {
		&__body {
			max-height: 54px;
		}
		&__burger {
			cursor: pointer;
			position: relative;
			height: 20px;
			width: 20px;
			z-index: 3;
			
		}
		&__burger span {
			position: absolute;
			display: block;
			top: 9px;
			width: 100%;
			height: 2px;
			background-color: #F5F5F5;
			transition: all .4s;
		}
		&__burger::before {
			position: absolute;
			content: '';
			display: block;
			bottom: 0px;
			width: 100%;
			height: 2px;
			background-color: #F5F5F5;
			transition: all .4s;
		}
		&__burger::after {
			position: absolute;
			content: '';
			display: block;
			top: 0px;
			width: 100%;
			height: 2px;
			background-color: #F5F5F5;
			transition: all 0.4s ease-out;
		}
		&__burger.active::before {
			transform:rotate(45deg);
			top: 9px;
		  }
		&__burger.active::after {
			transform:rotate(-45deg);
			top: 9px;
		}
		&__burger.active span {
			transform:scale(0);
		}
		&__menu.active {
			top: 0px;
			overflow: hidden;
		}
		&__menu {
			position: fixed;
			top: -200%;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: #FF7143;
			padding-top: 70px;
			transition: all 0.75s ease-out;
		}
		&__action {
			position: absolute;
			margin-right: 25px;
			right: 0;
		}
	}
	.menu {
		&__list {
			display: block;
			text-align: center;
		}
		&__item + &__item {
			margin-left: 0px;
		}
		&__item{ 
			padding: 10px 0;
		}
		&__line {
			margin-right: 0px;
		}
		&__item:last-child {
			padding-left: 0px;
		}
		&__item:last-child::after {
			display: none;
		}
	}
	.advantage {
		margin-top: 40px;
		&__item {
			margin: 12.5px auto;
		}
		&__info {
			margin-left: 10px;
		}
	}
	.slider {
		margin-top: 60px;		
		&__info {
			padding: 15px;
			max-width: 400px;
		}
		&__image {
			width: 70px;
			height: 12.5px;
			margin-bottom: 12.5px;
		}		
		&__text {
			font-size: 21px;
			line-height: 24px;
			margin-bottom: 15px;
		}
		&__subtitle {
			font-size: 13px;
			line-height: 16px;
			span {
				font-size: 12px;
				line-height: 16px;
			}
		}
		.slider__bg {
			width: 250px;
			height: 350px;
		}
		.slick-dots {
			margin-top: 5px;
		}
	}
	.footer {
		font-size: 13px;
		line-height: 20px;
		padding: 20px 0;
		&__top {
			margin-top: 40px;
		}
	
		&__center {
			margin-top: 60px;
			margin-bottom: 30px;
		}
	
		&__bottom {
			padding-top: 25px;
		}
	}
	.top {
	
		&__button {
			padding: 10px 28px;
		}
	}
	.center {
		&__item {
			margin-right: 10px;
		}
	}
	.bottom__powered {
		display: flex;
		align-items: center;
	}
	.social {
	
		&__item {
			width: 40px;
			height: 40px;
		}
	
		&__item + &__item {
			margin-left: 7px;
		}
	
		&__link {
			position: absolute;
			height: 100%;
			width: 100%;
			img {
				position: absolute;
				margin: auto;
				top: 0; bottom: 0;
				left: 0; right: 0;
			}
		}
	}
	.powered {
		&__text {
			margin-right: 10px;
		}
	
		&__img {
			margin-right: 10px;
		}
	
		&__link {
			font-size: 13px;
		}
	}
}
@media (max-width: 590px) {
	.container {
		padding: 0 12.5px;
	}
	.content {
		margin-top: 49px;
	}
	.header {
		&__body {
			max-height: 49px;
		}
		&__logo {
			padding-right: 0px;
			max-width: 85px;
		}
		&__logo img {
			max-width: 85%;
		}
		&__email {
			margin-left: 10px;
			font-size: 11px;
			padding: 1px 4px;
		}
		&__body {
			max-height: 50px;
			align-items: center;
		}
		&__action {
			position: absolute;
			margin-right: 10px;
		}
		.button {
			padding: 6px 7px;
			font-size: 11px;
		}
	}
	.template {
		&__title {
			font-size: 40px;
			line-height: 40px;
			margin-top: 36px;
		}
		&__text {
			font-weight: 400;
			margin-top: 10px;
		}
		&__button {
			font-size: 13px;
			margin: 10px 4px;
			padding: 7.5px 15px;
		}
		&__rating {
			margin-top: 36px;
		}
	}
	.text {
		font-size: 13px;
		line-height: 18px;
	}
	.rating {
		&__text {
			margin-top: 10px;
		}
		&__subtitle {
			font-size: 13px;
			margin-top: 7.5px;
			margin-bottom: 40px;
			line-height: 20px;
		}
	}
	.gray {
		font-size: 12px;
	}
	.advantage {
		margin-top: 20px;
		&__item {
			margin: 12.5px auto;
		}
		&__image {
			width: 85px;
			height: 85px;
		}
		&__image img {
			width: 45px;
			height: 45px;
		}
		&__info {
			margin-left: 10px;
		}
		&__title {
			font-size: 18px;
			line-height: 24px;
		}
	
		&__text {
			font-size: 14px;
			line-height: 18px;
			max-width: 200px;
		}
	}
	.slider {
		margin-top: 35px;
		&__info {
			max-width: 255px;
		}
		&__image {
			width: 60px;
			height: 12px;
			margin-bottom: 12px;
		}		
		&__text {
			font-size: 15px;
			line-height: 18px;
			margin-bottom: 13px;
		}
		&__subtitle {
			font-size: 12px;
			line-height: 14px;
			span {
				font-size: 11px;
				line-height: 14px;
			}
		}
		.slider__bg {
			width: 165px;
			height: 230px;
		}
		.slick-dots {
			margin-top: 5px;
			button {
				width: 14px;
				height: 14px;
			}
			li.slick-active button{
				width: 14px;
				height: 14px;
				background-color: #Fff;
			}
		}
	}
	.pages {
		margin-top: 60px;
		&__title {
			font-size: 20px;
			line-height: 24px;
			margin-bottom: 7px;
		}
		&__list {
			justify-content: center;
		}
		&__bg {
			padding: 10px 10px 0 10px;
		}
	
		&__image {
			width: 100px;
			height: 100px;
		}
	
		&__subtitle {
			padding: 8px 8px 8px;
			font-size: 10px;
			line-height: 12px;
		}
	
		&__other {
			.pages__title {
				margin-top: 25px;
			}
		}
	}
	.form {
		&__body {
			padding: 25px;
			box-shadow: 0px 16px 16px rgba(0, 0, 0, 0.12);
			max-width: 300px;
		}
		&__title {
			font-size: 20px;
			line-height: 24px;
			margin-bottom: 18px;
		}
	
		&__text {
			font-size: 12px;
			line-height: 16px;
			margin-bottom: 4px;
		}
	
		&__input {
			font-size: 12px;
			padding: 12px 0;
			margin-bottom: 8px;
			padding-left: 15px;
		}
	
		&__input::placeholder {
			font-size: 12px;
			line-height: 14px;
		}	
		&__policy {
			margin-top: 8px;
			margin-bottom: 17.5px;
		}
	
		&__checkbox {
			width: 18px;
			height: 18px;
			margin-right: 10px;
		}
		&__button {
			padding: 12px 0;
			font-size: 12px;
			line-height: 14px;
			margin-bottom: 10px;
		}
		&__link {
			font-size: 12px;
		}
	}
	.footer {
		font-size: 11px;
		line-height: 16px;
		padding: 16px 0;
		&__top {
			margin-top: 35px;
		}
	
		&__center {
			margin-top: 55px;
			margin-bottom: 27.5px;
		}
	
		&__bottom {
			padding-top: 22.5px;
		}
	}
	.top {
	
		&__button {
			padding: 8px 24px;
		}
	}
	.center {
		&__item {
			margin-right: 12.5px;
		}
	}
	.social {
	
		&__item {
			width: 30px;
			height: 30px;
		}
	
		&__item:last-child {
			margin-right: 6px;
		}
	}
	.powered {
		&__text {
			margin-right: 7px;
		}
	
		&__img {
			margin-right: 7px;
			width: 70px;
			height: 20px;
		}
		&__link {
			font-size: 11px;
		}

	}
}
@media (max-width: 424px) {
	.slider {
		margin-top: 30px;
		&__info {
			padding: 10px;
			max-width: 235px;
		}
		&__image {
			width: 50px;
			height: 10px;
			margin-bottom: 10px;
		}		
		&__text {
			font-size: 14px;
			line-height: 16px;
			margin-bottom: 10px;
		}
		&__subtitle {
			font-size: 11px;
			line-height: 12px;
			span {
				font-size: 10px;
				line-height: 12px;
			}
		}
		.slider__bg {
			width: 125px;
			height: 175px;
		}
		.slick-dots {
			margin-top: 1px;
			button {
				width: 12.5px;
				height: 12.5px;
			}
			li.slick-active button{
				width: 12.5px;
				height: 12.5px;
				background-color: #Fff;
			}
		}
	}
	.pages {
		&__list {
			grid-template-columns: 1fr 1fr;
			text-align: center;
		}
	}
}
@media (max-width: 374px) {
	.container {
		padding: 0 5px;
	}
	.header {
		&__logo {
			padding-right: 0px;
			max-width: 75px;
		}
		&__logo img {
			max-width: 85%;
		}
		&__email {
			margin-left: 8px;
			line-height: 18px;
			font-size: 9px;
			padding: 1px 3px;
		}
		&__body {
			max-height: 50px;
			align-items: center;
		}
		.button {
			padding: 4px 5px;
			font-size: 9px;
		}
	}
	.template {
		&__text {
			font-weight: 400;
		}
		&__title {
			font-size: 34px;
			line-height: 34px;
			margin-top: 26px;
		}
		&__button {
			font-size: 11px;
			margin: 10px 4px;
			padding: 7px 12px;
		}
		&__rating {
			margin-top: 26px;
		}
	}
	.text {
		font-size: 11px;
		line-height: 16px;
	}
	.rating {
		&__text {
			margin-top: 10px;
		}
		&__subtitle {
			font-size: 11px;
			margin-top: 5px;
			margin-bottom: 25px;
			line-height: 10px;
		}
	}
	.gray {
		font-size: 10px;
	}
	.slider {
		margin-top: 27.5px;
		&__info {
			padding: 8px;
			max-width: 200px;
		}
		&__image {
			width: 45px;
			height: 8px;
			margin-bottom: 5px;
		}		
		&__text {
			font-size: 11px;
			line-height: 14px;
			margin-bottom: 7.5px;
		}
		&__subtitle {
			font-size: 9px;
			line-height: 12px;
			span {
				font-size: 8px;
				line-height: 12px;
			}
		}
		.slider__bg {
			width: 115px;
			height: 160px;
		}
		.slick-dots {
			margin-top: 1px;
			button {
				width: 10px;
				height: 10px;
			}
			li.slick-active button{
				width: 12px;
				height: 12px;
				background-color: #Fff;
			}
		}
	}
	.form {
		&__body {
			padding: 15px;
			box-shadow: 0px 16px 16px rgba(0, 0, 0, 0.12);
			max-width: 250px;
		}
		&__title {
			font-size: 18px;
			line-height: 20px;
			margin-bottom: 15px;
		}
	
		&__text {
			font-size: 11px;
			line-height: 14px;
			margin-bottom: 4px;
		}
	
		&__input {
			font-size: 11px;
			padding: 10px 0;
			margin-bottom: 7.5px;
			padding-left: 10px;
		}
	
		&__input::placeholder {
			font-size: 11px;
			line-height: 12px;
		}	
		&__policy {
			margin-top: 8px;
			margin-bottom: 12.5px;
		}
	
		&__checkbox {
			width: 15px;
			height: 15px;
			margin-right: 10px;
		}
		&__button {
			padding: 10px 0;
			font-size: 11px;
			line-height: 10px;
			margin-bottom: 10px;
		}
		&__link {
			font-size: 11px;
		}
	}
	.footer {
		font-size: 9px;
		line-height: 13px;
		padding: 10px 0;
		&__top {
			margin-top: 25px;
		}
	
		&__center {
			margin-top: 45px;
			margin-bottom: 20px;
		}
	
		&__bottom {
			padding-top: 15px;
		}
	}
	.top {
	
		&__button {
			padding: 6px 20px;
		}
	}
	.center {
		&__item {
			margin-right: 10px;
		}
	}
	.social {
	
		&__item {
			width: 30px;
			height: 30px;
		}
	
		&__item:last-child {
			margin-right: 6px;
		}
	}
	.powered {
		&__text {
			margin-right: 7px;
		}
	
		&__img {
			margin-right: 7px;
			width: 60px;
		}
		&__link {
			font-size: 9px;
		}

	}
}